<%- include('../header.ejs')%>
<br>



    <div class="conatiner">
       
           
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Email</th>
                        
                        <th>Mobile.No</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Qualification</th>
                        <th>Course</th>

                       
                      
                       
                    </tr>
                </thead>
                <tbody>
                   
                        <tr>
                            <td><%= d._id %></td>
                            <td><%= d.name %></td>
                            <td><%= d.email %></td>
                          
                            <td><%= d.mobile_no %></td>
                            <td><%= d.address %></td>
                            <td><%= d.gender %></td>
                            <td><%= d.qualification %></td>
                            <td><%= d.course %></td>
                            
                            
                        </tr>
                   
                   
                </tbody>
                    
                </table>
            </div>
      
   
</div>
<%- include('../footer.ejs')%>

